<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
      class="mx-16"
    >
      <v-toolbar-title>
        <router-link :to="{ name: 'ShowCases' }">
          <h3 class="white--text font-weight-light">
            Case File Manager
          </h3>
        </router-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <div v-if="!loggedIn" class="d-flex align-right">
<!--        <v-icon class="ma-2">mdi-account-outline</v-icon>-->
        <router-link :to="{ name: 'LoginUser' }">
          <v-btn class="ma-2" outlined>Login</v-btn>
        </router-link>
        <router-link :to="{ name: 'RegisterUser' }">
          <v-btn class="ma-2" outlined rounded>Register</v-btn>
        </router-link>
      </div>
      <div v-else class="d-flex align-right">
        <router-link :to="{ name: 'AboutMe' }">
          <v-btn class="ma-2" outlined>Profile</v-btn>
        </router-link>
        <v-btn class="ma-2" outlined rounded @click="logout">Logout</v-btn>

      </div>
    </v-app-bar>

    <v-main>
      <transition name="slide-fade" mode="out-in">
        <router-view></router-view>
      </transition>
      <Snackbar></Snackbar>
    </v-main>

    <v-footer padless>
      <v-col
          class="text-center white"
          cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>Vue : Vuetify : Node -
        <a href="https://gitlab.com/tashpool/case-file-manager">Source Here!</a>
      </strong>
      </v-col>
    </v-footer>

  </v-app>
</template>

<script>
import { authComputed } from './vuex/helper'
import Snackbar from '@/components/Snackbar'

export default {
  name: 'App',

  components: {
    Snackbar
  },

  data: () => ({
    // ...
  }),

  async created() {
    await this.$store.dispatch('checkState')
    await this.$store.dispatch('clearCachedActors')
  },

  methods: {
    async logout() {
      await this.$store.dispatch('logout')
    }
  },

  computed: {
    ...authComputed
  }
}
</script>

<style>
.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.2s ease;
}

.slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

.loader-position {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /*width: 500px;*/
}
</style>

