<template>
  <v-container>
    <v-row>

      <v-container class="loader-position" v-if="isLoading">
        <CircleLoader></CircleLoader>
      </v-container>

      <v-container v-if="!isLoading" class="mt-8">
        <v-row no-gutters class="d-flex justify-center">
          <v-col cols="4">

            <v-card id="left-box" class="ml-4" :height=cardHeight>
              <v-card-title class="pl-8 heading-font">
                {{ `${userData.name}'s Profile` }}
              </v-card-title>

              <v-card-text class="pl-8">
                <v-row>
                  <v-col>
                    <span class="text-h6">
                      Role
                    </span>
                    <div class="body-1">
                      {{ userData.role }}
                    </div>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col>
                    <span class="text-h6">
                      Email
                    </span>
                    <div class="body-1">
                      {{ userData.email }}
                    </div>
                  </v-col>
                </v-row>

              </v-card-text>

              <v-spacer></v-spacer>

              <v-card-actions class="card-actions pb-6 pl-8">
                <v-btn
                    @click="$router.go(-1)"
                    class="mt-4"
                    outlined
                    color="primary"
                >Go Back</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>

          <v-col cols="2">
            <v-card
                id="right-box"
                color="primary"
                :height=cardHeight
            >
              <v-row class="justify-center align-center">
                    <v-avatar
                        class="my-6"
                        color="primary"
                        size="192">
                      <v-img v-if="userData.photo" :src="userAvatar"></v-img>
                    </v-avatar>

                <v-form @submit.prevent="signup" ref="form" v-model="valid">
                    <v-file-input
                        v-show="!imageReady"
                        outlined
                        rounded
                        color="white"
                        v-model="photo"
                        :rules="avatarRules"
                        accept="image/png, image/jpeg, image/bmp"
                        placeholder="Change"
                        prepend-icon="mdi-camera"
                    ></v-file-input>

                    <v-spacer></v-spacer>

                    <v-btn v-show="photo"
                           class="ml-8"
                           outlined
                           rounded
                           text
                           color="white"
                           @click="signup"
                           >
                      Update
                    </v-btn>
                </v-form>

              </v-row>
            </v-card>
          </v-col>

        </v-row>
      </v-container>

    </v-row>
  </v-container>
</template>

<script>
import { getMe, updateMe } from '@/services/CFMService'
import CircleLoader from '@/components/CircleLoader'

export default {
  name: "AboutMe",
  components: {
    CircleLoader
  },
  data: () => ({
    isLoading: true,
    userInfo: null,
    userData: {},
    cardHeight: "400px",
    userAvatar: "",
    imageReady: false,
    valid: true,
    photo: undefined,
    avatarRules: [
      v => !v || v.size < 2000000 || 'Avatar size should be less than 2MB',
    ],
  }),
  created() {
    this.getUserDetails()
  },
  watch: {
    userInfo: function() {
      this.userData = this.userInfo.data.data.data
      this.isLoading = false
      this.setUserAvatar()
    }
  },
  mounted() {
    //
  },
  methods: {
    async getUserDetails() {
      try {
        this.userInfo = await getMe()
      } catch (err) {
        this.showSnackbar({
          message: err,
          color: 'error'
        })
      }
    },
    setUserAvatar() {
      // Model sets default if not present on getMe()
      this.userAvatar = '/img/users/' + this.userData.photo
    },
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    },
    async signup() {
      // let userStatus = ''
      try {
        await updateMe({'photo': this.photo})
      } catch (err) {
        this.showSnackbar({
          message: err,
          color: 'error'
        })
      }
      this.photo = undefined
      await this.getUserDetails()
      // console.log(userStatus)
    }
  }
}
</script>

<style scoped>
#left-box {
  box-shadow: -5px 0 8px 5px #CCCCCC
}
#right-box {
  box-shadow: 5px 0 8px 5px #CCCCCC
}

.card-actions {
  position: absolute;
  bottom: 0;
}

.large-font {
  font-size: 1.4em;
}
.heading-font {
  font-size: 2em;
}
</style>