<template>
  <v-container>
    <v-row>

      <v-container class="loader-position" v-if="isLoading">
        <CircleLoader></CircleLoader>
      </v-container>

      <v-container v-if="!isLoading" class="mt-8" min-height="800px">
        <v-row no-gutters class="d-flex justify-center">
          <v-col cols="4">

            <v-card id="left-box" class="ml-4" :height=cardHeight>
              <v-card-title class="pl-8 heading-font">
                Actor Detail
              </v-card-title>

              <v-card-text class="pl-8">
                <v-row>
                  <v-col>
                    <span class="text-h6">
                      Name
                    </span>
                    <div class="body-1">
                      {{ this.actorData.foreName + ' ' + this.actorData.surName }}
                    </div>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col>
                    <span class="text-h6">
                      Gender
                    </span>
                    <div v-if="this.actorData.gender" class="body-1">
                      {{ this.actorData.gender }}
                    </div>
                    <div v-else class="body-1">
                      Unknown
                    </div>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col>
                    <span class="text-h6">
                      Description
                    </span>
                    <div v-if="this.actorData.description" class="body-1">
                    {{ this.actorData.description }}
                  </div>
                    <div v-else class="body-1">
                    None
                  </div>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col>
                    <span class="text-h6">
                      Born
                    </span>
                    <div class="body-1">
                    {{ this.actorData.birthDate }}
                  </div>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col>
                    <span class="text-h6">
                      Died
                    </span>

                    <div v-if="this.actorData.deathDate" class="body-1">
                    {{ this.actorData.deathDate }}
                  </div>
                    <div v-else class="body-1">
                    Unknown
                  </div>
                  </v-col>
                </v-row>

              </v-card-text>


              <v-card-actions class="card-actions pb-6 pl-8">
                <router-link :to="{ name: 'EventDetail', params: { eventID: getEventID } }">
<!--                    @click="$router.go(-1)"-->
                    <v-btn
                    class="mt-4"
                    outlined
                    color="primary"
                >Back to Event</v-btn>
                </router-link>
              </v-card-actions>
            </v-card>

          </v-col>

          <v-col cols="2">
            <v-card
                id="right-box"
                color="primary"
                :height=cardHeight
            >
              <v-row class="justify-center align-center">
                <v-avatar
                    class="my-6"
                    color="primary"
                    size="192">
                  <v-img v-if="actorData.photo" :src="actorAvatar"></v-img>
                </v-avatar>

                <v-form v-if="loggedIn" @submit.prevent="signup" ref="form" v-model="valid">
                  <v-file-input
                      v-show="!imageReady"
                      outlined
                      rounded
                      color="white"
                      v-model="photo"
                      :rules="avatarRules"
                      accept="image/png, image/jpeg, image/bmp"
                      placeholder="Change"
                      prepend-icon="mdi-camera"
                  ></v-file-input>

                  <v-spacer></v-spacer>

                  <v-btn v-show="photo"
                         class="ml-8"
                         outlined
                         rounded
                         text
                         color="white"
                         @click="signup"
                  >
                    Update
                  </v-btn>
                </v-form>

              </v-row>
            </v-card>


<!--            <v-card-->
<!--                id="right-box"-->
<!--                color="primary"-->
<!--                :height=cardHeight-->
<!--                class="pa-12 d-flex justify-center align-center"-->
<!--            >-->

<!--              <div v-if="this.actorData.photo">-->
<!--                {{ this.actorData.photo }}-->
<!--              </div>-->
<!--              <div v-else>-->
<!--                <v-avatar-->
<!--                    color="teal"-->
<!--                    size="192"-->
<!--                >-->
<!--                  <v-img src="https://i.imgur.com/Un7d2Sp.jpg"></v-img>-->
<!--                </v-avatar>-->
<!--              </div>-->

<!--            </v-card>-->
          </v-col>

        </v-row>
      </v-container>

    </v-row>
  </v-container>
</template>

<script>
import { getActor, updateActor } from '@/services/CFMService'
import CircleLoader from '@/components/CircleLoader'
import {mapGetters} from 'vuex'

export default {
  name: "ActorDetail",
  components: {
    CircleLoader
  },
  props: ["actorID"],
  data: () => ({
    actorInfo: null,
    actorData: {},
    actorAvatar: "",
    isLoading: true,
    cardHeight: "650px",
    imageReady: false,
    valid: true,
    photo: undefined,
    avatarRules: [
      v => !v || v.size < 2000000 || 'Avatar size should be less than 2MB',
    ],
  }),
  created() {
    this.getActorDetails()
  },
  watch: {
    actorInfo: function() {
      this.actorData = this.actorInfo.data.data.data
      this.isLoading = false
      this.setActorAvatar()
    }
  },
  mounted() {
    // lifetime hooks are SYNCHRONOUS, getEvent API call returns AFTER mounted, error.
  },
  methods: {
    async getActorDetails() {
      try {
        this.actorInfo = await getActor(this.actorID)
      } catch(err) {
        this.showSnackbar({
          message: err,
          color: 'error'
        })
      }
    },
    setActorAvatar() {
      // Model sets default if not present
      this.actorAvatar = '/img/actors/' + this.actorData.photo
    },
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    },
    async signup() {
      // let actorStatus = ''
      try {
        // actorStatus =
            await updateActor( this.actorID, {'photo': this.photo } )
      } catch(err) {
        this.showSnackbar({
          message: err,
          color: 'error'
        })
      }
      this.photo = undefined
      await this.getActorDetails()
    }
  },
  computed: {
    ...mapGetters([
      'loggedIn',
        'getEventID'
    ])
  }
}
</script>

<style scoped>
#left-box {
  box-shadow: -5px 0 8px 5px #CCCCCC
}
#right-box {
  box-shadow: 5px 0 8px 5px #CCCCCC
}

.card-actions {
  position: absolute;
  bottom: 0;
}

.large-font {
  font-size: 1.4em;
}
.heading-font {
  font-size: 2em;
}
</style>