<template>
  <v-container class="fill-height">
    <v-row align="center" justify="center">
      <v-col
          cols="12"
          sm="8"
          md="4">
        <v-card class="elevation-12">
          <v-toolbar
              color="primary"
              dark
              flat
          >
            <v-toolbar-title>New Evidence</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form @submit.prevent="submitEvidence" ref="form" v-model="valid">
              <v-text-field
                  v-model="title"
                  :rules="titleRules"
                  label="Title"
                  required
                  counter="100"
                  prepend-icon="mdi-message-text"
                  outlined
              ></v-text-field>

              <v-text-field
                  v-model="category"
                  :rules="categoryRules"
                  label="Category"
                  required
                  counter="50"
                  prepend-icon="mdi-message-text"
                  outlined
              ></v-text-field>

              <v-textarea
                  v-model="description"
                  :rules="descRules"
                  label="Description"
                  required
                  counter="500"
                  prepend-icon="mdi-text-box"
                  outlined
              ></v-textarea>

              <v-text-field
                  v-model="dataURL"
                  :rules="evidenceRules"
                  label="File Location"
                  prepend-icon="mdi-message-text"
                  outlined
              ></v-text-field>

<!--              <v-file-input-->
<!--                accept="img/*,video/*,audio/*"-->
<!--                :rules="fileRules"-->
<!--                label="Evidence File"-->
<!--                show-size-->
<!--                counter-->
<!--                placeholder="Select Evidence File"-->
<!--                ></v-file-input>-->

              <v-divider></v-divider>
              <v-card-actions>
                <v-row class="mt-2">
                  <v-btn
                      @click="$router.go(-1)">
                    Back
                  </v-btn>

                <v-spacer></v-spacer>

                  <v-btn
                      outlined
                      class="mr-2"
                      @click="$refs.form.reset()"
                  >
                    Clear
                  </v-btn>
                <v-btn
                    :disabled="!valid"
                    color="info"
                    @click="submitEvidence"
                >
                  Create Evidence
                </v-btn>
                </v-row>
              </v-card-actions>

            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="debug">
      <v-col>
        <p>Vuex EventID: {{ this.eventID }}</p>
        <p>Vuex CaseID: {{ this.caseID }}</p>
        <p>{{ debugOut }}</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { createEvidence, updateEvent } from '@/services/CFMService'
import { mapGetters } from 'vuex'

export default {
name: "CreateEvidence",
  data: () => ({
    isLoading: true,
    debug: false,
    valid: true,
    title: '',
    titleRules: [
      v => !!v || 'Title is required.',
      v => (v || '').length <= 100 || 'Title may not exceed 100 characters.'
    ],
    description: "",
    descRules: [
      v => !!v || 'Description is required.',
      v => (v || '').length <= 500 || 'Description may not exceed 500 characters.'
    ],
    category: '',
    categoryRules: [
      v => !!v || 'A Category is required.',
      v => (v || '').length <= 50 || 'Category may not exceed 50 characters.'
    ],
    dataURL: '',
    fileRules: [],
    evidence: '',
    // evidenceRules: [
    //     v => !!v || 'Evidence file path is required.'
    // ],
    debugOut: {}
  }),
  created() {
    this.debug = this.$debugInfo
  },
  mounted() {
    if (!this.eventID) {
      this.showSnackbar('Error! Event not found. Reload from Event page.', 'error')
      this.$router.replace({ name: 'ShowCases' })
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    async submitEvidence() {
      let newEvidence = {
        title: this.title,
        category: this.category,
        description: this.description,
        dataURL: encodeURI(this.dataURL),
        event: this.eventID
      }

      if (this.debug) this.debugOut = newEvidence

      this.createStatus = await createEvidence(newEvidence)

      if (this.createStatus.data.status !== 'success') {
        this.showSnackbar('Error creating evidence, please try again later.')
      } else {
        try {
          // Push newly created evidence into event's db entry
          await updateEvent(this.eventID, {
            doPush: true,
            pushField: 'evidence',
            pushValue: this.createStatus.data.data.id
          })

          await this.$router.push({
            name: 'EvidenceDetail',
            params: { eviID: this.createStatus.data.data.id }
          })
        } catch (e) {
          this.showSnackbar('Error accessing Event Details, please try again.')
        }
      }
    },
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    }
  },
  computed: {
  ...mapGetters({
    eventID: 'getEventID',
    caseID: 'getCaseID'
  })
  }
}
</script>

<style scoped>

</style>