<template>
  <v-container class="fill-height">
    <v-row align="center" justify="center">
      <v-col
          cols="12"
          sm="8"
          md="4">
        <v-card class="elevation-12">
          <v-toolbar
              color="primary"
              dark
              flat
          >
            <v-toolbar-title>Create New Actor</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form @submit.prevent="submitActor" ref="form" v-model="valid">

              <v-text-field
                  v-model="foreName"
                  :rules="nameRules"
                  label="Name"
                  required
                  counter="100"
                  prepend-icon="mdi-message-text"
                  outlined
              ></v-text-field>

              <v-text-field
                  v-model="surName"
                  :rules="nameRules"
                  label="Surname"
                  required
                  counter="100"
                  prepend-icon="mdi-message-text"
                  outlined
              ></v-text-field>

              <v-row class="ml-1">
                <v-menu :close-on-content-click="false">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                        v-on="on"
                        label="Birthdate"
                        class="mt-2 mr-2"
                        v-model="birthDate"
                        required
                        outlined
                        readonly
                        prepend-icon="mdi-calendar-range"
                    ></v-text-field>
                  </template>
                  <v-date-picker :landscape="true" v-model="birthDate"></v-date-picker>
                </v-menu>
              </v-row>

              <v-textarea
                  v-model="description"
                  :rules="descRules"
                  label="Description"
                  required
                  counter="255"
                  prepend-icon="mdi-text-box"
                  outlined
              ></v-textarea>

              <v-text-field
                  disabled
                  v-model="photo"
                  :rules="photoRules"
                  label="Photo URL"
                  prepend-icon="mdi-account-box"
                  outlined
              ></v-text-field>

              <v-divider></v-divider>
              <v-card-actions>
                <v-row class="mt-2">
                  <v-btn
                      @click="$router.go(-1)">
                    Back
                  </v-btn>

                <v-spacer></v-spacer>

                  <v-btn
                      outlined
                      class="mr-2"
                      @click="$refs.form.reset()"
                  >
                    Clear
                  </v-btn>
                <v-btn
                    :disabled="!valid"
                    color="info"
                    @click="submitActor"
                >
                  Create Actor
                </v-btn>
                </v-row>
              </v-card-actions>

            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="debug">
      {{ this.tempOut }}
    </v-row>
    <v-row>
      <p>Event ID: {{ this.eventID }}</p>
    </v-row>
  </v-container>
</template>

<script>
import { createActor, updateEvent } from '@/services/CFMService'
import { mapGetters } from 'vuex'

export default {
name: "CreateActor",
  data: () => ({
    isLoading: true,
    debug: false,
    valid: true,
    foreName: "",
    surName: "",
    nameRules: [
      v => !!v || 'Name is required.',
      v => (v || '').length <= 100 || 'Name may not exceed 100 characters.'
    ],
    birthDate: "",
    description: '',
    descRules: [
        v => !!v || 'Description required.'
    ],
    photo: "",
    photoRules: [
      v => (v || '').length <= 500 || 'Photo URL may not exceed 500 characters.'
    ],
    createStatus: undefined,
    tempOut: undefined
  }),
  methods: {
  validate() {
    this.$refs.form.validate()
  },
    async submitActor() {
      let newActor = {
        foreName: this.foreName,
        surName: this.surName,
        birthDate: this.birthDate,
        description: this.description,
        photo: this.photo
      }

      try {
        this.createStatus = await createActor(newActor)

        if (this.debug) this.tempOut = this.createStatus

        // Added actor to system, now update the event with new actor
        await updateEvent(this.eventID, {
          doPush: true,
          pushField: 'actor',
          pushValue: this.createStatus.data.data.id
        })

        await this.$router.push({
          name: 'ActorDetail',
          params: {actorID: this.createStatus.data.data.id}
        })
      } catch(e) {
        this.showSnackbar('Error saving actor, please try again later.')
      }
    },
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    }
  },
  async created() {
    // Don't need to populate anything right now
    this.isLoading = false
  },
  computed: {
  ...mapGetters({
    eventID: 'getEventID'
  })
  }
}
</script>

<style scoped>

</style>