<template>
  <v-container>
    <v-row class="loader-position" v-if="isLoading">
      <CircleLoader></CircleLoader>
    </v-row>

    <v-row v-if="!isLoading">
      <v-col cols="8">
        <h1 class="mb-3">Evidence Detail</h1>

        <div v-if="eviData">
          <h3>
            Title
          </h3>
          <p>
            {{ this.eviData.title }}
          </p><h3>
            Category
          </h3>
          <p>
            {{ this.eviData.category }}
          </p><h3>
            Description
          </h3>
          <p>
            {{ this.eviData.description }}
          </p>
        </div>

        <v-spacer></v-spacer>
        <router-link :to="{ name: 'EventDetail', params: { eventID: this.eviData.event} }">
          <v-btn
              class="mt-2"
              outlined
              color="primary">
            Back to Event Overview
          </v-btn>
        </router-link>
      </v-col>
      <v-col cols="4">
        <h1 class="mb-3">
          Data
        </h1>
        <p v-if="this.eviData.dataURL">
          {{ this.eviData.dataURL }}
        </p>
        <p v-else>
          Pending
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { getEvidence } from '@/services/CFMService'
import CircleLoader from '@/components/CircleLoader'
import {mapGetters} from 'vuex'

export default {
name: "EvidenceDetail",
  components: {
  CircleLoader
  },
  props: ["eviID"],
  data: () => ({
    eviInfo: null,
    eviData: {},
    isLoading: true
  }),
  async created() {
  try {
    this.eviInfo = await getEvidence(this.eviID)
  } catch (err) {
    this.showSnackbar({
      message: err,
      color: 'error'
    })
  }
  },
  watch: {
    eviInfo: function() {
      this.eviData = this.eviInfo.data.data.data
      this.isLoading = false
    }
  },
  mounted() {
  //
  },
  methods: {
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    }
  },
  computed: {
    ...mapGetters([
      'loggedIn'
    ])
  }
}
</script>

<style scoped>

</style>