<template>
  <v-snackbar
      v-model="show"
      :color="color"
      timeout="10000"
  >

    {{ message }}

    <v-btn
        text
        @click="show = false"
    >
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
name: "Snackbar",
  data: () => ({
    show: false,
    message: '',
    color: ''
  }),
  created() {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'SHOW_MESSAGE') {
        this.message = state.snackbar.message
        this.color = state.snackbar.color
        this.show = true
      }
    })
  }
}
</script>

<style scoped>

</style>